#!/usr/bin/env python
# -*- coding: utf-8 -*-#
#
#
# Copyright (C) 2016, S3IT, University of Zurich. All rights reserved.
#
#
# This program is free software; you can redistribute it and/or modify it
# under the terms of the GNU General Public License as published by the
# Free Software Foundation; either version 2 of the License, or (at your
# option) any later version.
#
# This program is distributed in the hope that it will be useful, but
# WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
# General Public License for more details.
#
# You should have received a copy of the GNU General Public License along
# with this program; if not, write to the Free Software Foundation, Inc.,
# 59 Temple Place, Suite 330, Boston, MA 02111-1307 USA

__docformat__ = 'reStructuredText'
__author__ = 'Antonio Messina <antonio.s.messina@gmail.com>'

# Statement for enabling the development environment
DEBUG = True

# Define the application directory
import os
BASE_DIR = os.path.abspath(os.path.dirname(__file__))

# Application threads. A common general assumption is
# using 2 per available processor cores - to handle
# incoming requests using one and performing background
# operations using the other.
THREADS_PER_PAGE = 2

# Enable protection agains *Cross-site Request Forgery (CSRF)*
CSRF_ENABLED     = True

# Use a secure, unique and absolutely secret key for
# signing the data.
CSRF_SESSION_KEY = "secret"

# Secret key for signing cookies
SECRET_KEY = "secret"

os_auth_url='https://cloud-test.s3it.uzh.ch:5000/v3'
os_user_domain_name='default'
os_project_domain_id='default'

valid_faculties = [
    ('N/A', 'none'),
    ('MED', 'Medicine'),
    ('MNF', 'Science'),
    ('OEC', 'Business, Economics and Informatics'),
    ('PHIL', 'Arts and Social Sciences'),
    ('VET', 'Vetsuisse'),
]

### Sympa integration ###

USE_SYMPA = False
#
## Username to use when accessing Sympa
# SYMPA_USERNAME =

## Password to use when acecssing Sympa as SYMPA_USERNAME
# SYMPA_PASSWORD =

## Url to use for sympa.
# SYMPA_URL =

## Sympa mailing list
# SYMPA_LIST = "cloud"

## Sympa default max size
# SYMPA_SIZE = 1000

## Alternate email mapping. The first element of the tuple is the
## email address listed on ScienceCloud, the second element is the
## email address he/she wants to be subscribed with. If second element
## is None then the user is not subscribed to the mailing list.
##
## For instance, if:
##
## SYMPA_EMAIL_MAPPINGS = [
##   ('ignoreme@example.org', None),
##   ('foo.bar@uzh.ch', 'foo.bar@example.org'),
## ]
##
## then:
##
## * 'ignore@example.org' will NOT be added to the mailing list if
##   it's not already subscribed.
##
## * 'foo.bar@example.org' will be added to the mailing list if it's
##   not already there, and 'foo.bar@example.org' will be used
##   whenever we try to add 'foo.bar@uzh.ch'

# SYMPA_EMAIL_MAPPINGS = [
    # ('SC email address', 'mailing list email address'),
    # ('SC email address', None), # user that shouldn't be subscribed to the ML
# ]
