<!DOCTYPE html>
{% block doc -%}
<html{% block html_attribs %}{% endblock html_attribs %}>
{%- block html %}
  <head>
    {%- block head %}
    <title>{% block title %}{{title|default}}{% endblock title %}</title>

    {%- block metas %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {%- endblock metas %}

    {%- block styles %}
    {%- endblock styles %}
    {%- endblock head %}
  </head>
<body{% block body_attribs %}{% endblock body_attribs %}>
  uffa
    {% block navbar %}
    {{nav.top.render()}}
    {%- endblock navbar %}
  <div class="container-fluid">
    <div class="row">
    {% block body -%}
    {% block content -%}
    {%- endblock content %}

    {% block scripts %}
    <script src="{{url_for('static', filename='js/jquery.js')}}"></script>
    <script src="{{url_for('static', filename='js/bootstrap.js')}}"></script>
    {%- endblock scripts %}
    {%- endblock body %}
    </div>
  </div>
  </body>
{%- endblock html %}
</html>
{% endblock doc -%}

