{% extends "_base.html" %}

{% block title %}Show project {{project.name}}{% endblock title %}
{% block maincontent %}
<script type="text/javascript">
  function getUserDetail(){
  $.get("{{url_for('main.get_user', uid='')}}"+$("#uid").val(), function(data){
    if(data.id == null){
      $("#user-detail").html("No user '"+ $("#uid").val() + "' found");
    }else{
      $("#user-detail").html("\
<table class='table'>\
<tbody>\
<tr><th style='border-top: 0px'>user id</th><td style='border-top: 0px'>"+data.id+"</td></tr>\
<tr><th style='border-top: 0px'>email</th><td style='border-top: 0px'>"+data.email+"</td></tr>\
</table>");
    }
  });
  }
</script>

<h1>Info on project {{project.name}}</h1>
<table class="table">
  <tbody>
    <tr>
      <th>id</th><td>{{project_id}}</td>
    </tr>
    <tr>
      <th>Description</th><td>{{project.description|replace('\n', '<br />')|safe}}</td>
    </tr>
    <tr>
      <th>Faculty</th><td>{{project.faculty}}</td>
    </tr>
    <tr>
      <th>Institute</th><td>{{project.institute}}</td>
    </tr>
    
    <tr>
      <th>Owner</th><td><a href="mailto:{{project.owner_email}}">{{project.owner}}</a></td>
    </tr>
    <tr>
      <th>Contact</th><td><a href="mailto:{{project.contact_email}}">{{project.contact}}</a></td>
    </tr>
    <tr>
      <th>S3IT Owner</th><td><a href="mailto:{{project.s3it_owner_email}}">{{project.s3it_owner}}</a></td>
    </tr>
    <tr>
      <th>Quota history</th><td>{{project.quota_history|replace('\n', '<br />')|safe}}</td>
    </tr>
  </tbody>
</table>

{% if users is defined %}
<h1>Users in project {{project.name}}</h1>
<table id="user-list" class="table table-striped datatable tablesorter tablesorter-default">
  <thead>
    <tr class="table_caption">
      <th class="sortable normal_column tablesorter-header">User</th>
      <th class="sortable normal_column tablesorter-header">Role</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {% for user,roles in users.items() %}
      {% for role in roles %}
    <tr>
      <td class="sortable normal_column">
        {{ user }}
      </td>
      <td class="sortable normal_column">
        {{ role }}
      </td>
      <td>
        <a href="{{url_for('main.revoke_grant', project_id=project_id)}}?userid={{user}}&role={{role}}">revoke</a>
      </td>
    </tr>
    {% endfor %}
    {% endfor %}
  </tbody>
</table>

<form action="" method="post" class="form" role="form">
  {{ form.hidden_tag() }}
  <h2>Add user to project</h2>
  <div class="form-group row">
    <label for="uid" class="col-xs-1 col-form-label">Username</label>
    <div class="col-xs-3">
      {{ form.uid(class="form-control") }}
    </div>
    <div class="col-xs-1">
      <input type="button" class="btn" onclick="getUserDetail()" value="Show user"></input>
    </div>
    <div id="user-detail" class="col-xs-3">

    </div>
  </div>
  <div class="form-group row">

    <label for="role" class="col-xs-1 col-form-label">Role</label>
    <div class="col-xs-3">
      {{ form.role(class="form-control") }}
    </div>
  </div>
    <div class="form-group row">

    <div class="col-xs-3">
      {{form.submit(class="btn btn-default")}}
    </div>

  </div>    
</form>
{% endif %}

<div></div>
{% endblock maincontent %}
