{% extends "_base.html" %}

{% block title %}Show project {{project.name}}{% endblock title %}
{% block maincontent %}
{% if error %}
<div class="alert alert-danger">
  {{error}}
</div>
{% endif %}
<h1>Info on project {{project.name}}</h1>
<table class="table">
  <tbody>
    <tr>
      <th>id</th><td>{{project_id}}</td>
    </tr>
    <tr>
      <th>Description</th><td>{{project.description|replace('\n', '<br />')|safe}}</td>
    </tr>
    <tr>
      <th>Faculty</th><td>{{project.faculty}}</td>
    </tr>
    <tr>
      <th>Institute</th><td>{{project.institute}}</td>
    </tr>
    
    <tr>
      <th>Owner</th><td><a href="mailto:{{project.owner_email}}">{{project.owner}}</a></td>
    </tr>
    <tr>
      <th>Contact</th><td><a href="mailto:{{project.contact_email}}">{{project.contact}}</a></td>
    </tr>
    <tr>
      <th>S3IT Owner</th><td><a href="mailto:{{project.s3it_owner_email}}">{{project.s3it_owner}}</a></td>
    </tr>
    <tr>
      <th>Quota history</th><td>{{project.quota_history|replace('\n', '<br />')|safe}}</td>
    </tr>
  </tbody>
</table>

{% if users is defined %}
<h1>Users in project {{project.name}}</h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th>User</th>
      <th>Role</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {% for user,roles in users.items() %}
      {% for role in roles %}
    <tr>
      <td>
        {{ user }}
      </td>
      <td>
        {{ role }}
      </td>
      <td>
        <a href="{{project_id}}/revoke?userid={{user}}&role={{role}}">revoke</a>
      </td>
    </tr>
    {% endfor %}
    {% endfor %}
  </tbody>
</table>

{{ wtf.quick_form(form)}}
{% endif %}

{% endblock maincontent %}
