{% extends "_base.html" %}

{% block title %}List of projects{% endblock title %}
{% block maincontent %}
<h1>Current roles in project <i>{{curproject.name}}</i>:</h1>
<ul>
  {% for role in auth.roles %}
  <li>{{role}}</li>
  {% endfor %}
</ul>

{% if auth.regular_member %}
<div class="alert alert-danger">
  You don't have a privileged role on this project. Please click on the "set
  active" link next to one of the projects you have a privileged role
  (usermanager, project_admin or admin)
</div>
{% endif %}

{% if 'admin' in auth.roles %}
<div class="alert alert-danger">
  You have the role <b>admin</b> on this project. This is a very
  powerful role, and must be used with caution. You should switch to
  a project where you have the <b>usermanager</b> role instead.
</div>
{% endif %}

{% if 'usermanager' in auth.roles %}
<div class="alert alert-info">
  The <b>usermanager</b> role allows you to:
  <ul>
    <li>Create new projects</li>
    <li>List all the projects (not only projects you are member of</li>
    <li>Manage the quota of any project</li>
    <li>Add/remove any user to any project</li>
    <li>Check mailing list users</li>
  </ul>
</div>
{% endif %}

{% if 'project_admin' in auth.roles %}
<div class="alert alert-info">
  The <b>project_admin</b> role allows you to:
  <ul>
    <li>List all users in project {{curproject.name}}</li>
    <li>Add/remove any user from project {{curproject.name}}</li>
  </ul>
</div>
{% endif %}


<h1>List of projects</h1>


<table  id="projects" class="table table-striped table-bordered table-striped datatable tablesorter tablesorter-default">
  <thead>
    <tr class="table_caption">
      <th class="sortable normal_column tablesorter-header">Project</th>
      <th class="sortable normal_column tablesorter-header">Owner</th>
      <th class="sortable normal_column tablesorter-header">Technical contact</th>
      <th class="sortable normal_column tablesorter-header">S3IT contact person</th>
      {% if 'usermanager' in auth.roles or 'admin' in auth.roles %}
      <th></th>
      {% endif %}
      <th></th>
    </tr>
  </thead>
  <tbody>
    {% for project in projects %}
    <tr>      
      <td class="sortable normal_column">
        {% if not auth.regular_member %}
        <a href="{{url_for('main.show_project',
                 project_id=project.p.id)}}">{{ project.p.name }}</a>
        {% else %}
        {{ project.p.name }}
        {% endif %}
      </td>
      <td class="sortable normal_column">
        {{ project.p.owner }}
      </td>
      <td class="sortable normal_column">
        {{ project.p.contact }}
      </td>
      <td class="sortable normal_column">
        {{ project.p.s3it_owner }}
      </td>
      {% if 'usermanager' in auth.roles or 'admin' in auth.roles %}
      <td>
        <a href="{{url_for('main.quota', project_id=project.p.id)}}">set quota</a>
      </td>
      {% endif %}
      <td>
        {% if project.p.name != auth.project_name %}
        {% if auth.regular_member or project.myroles  %}
        <a href="{{url_for('main.set_active_project', project_id=project.p.id)}}">set active</a>
        {% endif %}
        {% endif %}
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock maincontent %}
