{% extends "_base.html" %}

{% block title %}Quota for project {{project.name}}{% endblock title %}
{% block maincontent %}


<h1>Quota for project {{project.name}}</h1>

Current roles:
<ul>
  {% for role in auth.roles %}
  <li>{{role}}</li>
  {% endfor %}
</ul>


<h2>Quota history</h2>

<table class="table">
  <thead>
    <tr>
      <th>date</th>
      <th>service</th>
      <th>quota  type</th>
      <th>previous value</th>
      <th>updated value</th>
    </tr>
  </thead>
  <tbody>
    {% for date,update in project.history().items()|reverse %}
    {% set curstyle = loop.cycle("active", "") %}
    <tr class="{{curstyle}}">
      <th>{{date}}</th>
      <td colspan="4">
        <b>{{update.msg.splitlines()|join('<br />')|safe}}</b>
      </td>
    </tr>
      {% for sname, sdata in update.services %}
        {% for typ, (old, new, oldunit, newunit) in sdata.items() %}
    <tr class="{{curstyle}}">
      <td></td>
      <td>{{sname}}</td>
      <td>{{typ}}</td>
      <td>{{old|round(2)}} {{oldunit}}</td>
      <td>{{new|round(2)}} {{newunit}}</td>
    </tr>
        {% endfor %}
    {% endfor %}
  {% endfor %}
  </tbody>
</table>

<form action="" method="post" class="form" role="form">
  {{ form.hidden_tag() }}
  <h2>Compute (nova)</h2>
  <div class="form-group row">

    {{ form.c_instances(class="form-control", size=4) }}

    {{ form.c_cores(class="form-control", size=4) }}

    {{ form.c_ram(class="form-control") }}
  </div>

  <h2>Network (neutron)</h2>
  <div class="form-group row">
    {{ form.n_port(class="form-control") }}

    {{ form.n_network(class="form-control") }}

    {{ form.n_subnet(class="form-control") }}
  </div>

  <!-- neutron, second row -->
  <div class="form-group row">
    {{ form.n_security_group(class="form-control") }}

    {{ form.n_security_group_rule(class="form-control") }}

    {{ form.n_floatingip(class="form-control") }}
  </div>
  
  <div class="form-group row">
    {{ form.n_router(class="form-control") }}
  </div>
  
  <h2>Block Storage (cinder)</h2>
  <div class="form-group row">

    {{ form.v_volumes(class="form-control")}}    

    {{ form.v_gigabytes(class="form-control")}}    

  </div>

  {% if form.s_bytes %}
  {% if 'ResellerAdmin' not in auth.roles %}
  <div class="alert alert-danger">
    You don't currently have the role <b>ResellerAdmin</b>. This
    might prevent you from updating Swift quota.
  </div>
  {% endif %}
  
  <h2>Object Storage (swift)</h2>
  <div class="form-group row">
    {{ form.s_bytes(class="form-control") }}
  </div>
  {% endif %}

  <h2>Commit log</h2>
  <div class="form-group row">
    {% if form.comment.errors %}
    <div class="col-xs-10 has-error">
      {% else %}
      <div class="col-xs-10">
        {% endif %}
        {{form.comment(class="form-control")}}
        <span class="help-block">{% for line in form.comment.errors %}{{line}}<br />{% endfor %}</span>
      </div>
    </div>
    
    <div class="form-group row">
      <div class="control-group col-xs-3">
      <label for="force" class="col-form-label">
        Bypass RAM/vcores ratio validation:
      </label>
      &nbsp;{{form.force()}}
      </div>
      <div class="control-group col-xs-6">
        {{form.submit(class="btn btn-default")}}
      </div>
    </div>
  </div>
</form>



{% endblock maincontent %}
