{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block body %}
<div class="container">  
  <div class="row">
    <h1 class="text-center">Science Cloud administration dashboard</h1>
  </div>
  <div class="row">

    
      {% if error %}
      <div class="alert alert-danger col-md-4 col-md-offset-4">
        {{error}}
      </div>
      {% endif %}

    <div class="col-md-2 col-md-offset-5">
  {{ wtf.quick_form(form) }}
    </div>
  </div>
</div>
</div>

{% endblock body %}
